* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainSpacing: 3px;
    --primaryColor: #2196f3;
    --mainWhite: #fff;
}

.newsBg {
    min-height: 30vh;
    background: url('./assets/news.jpg') center/cover no-repeat;
    position: relative;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: var(--mainWhite);
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    width: 100%;
    height: 30vh;
    padding: 2rem 1rem;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

@media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }
    .banner h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }
    .banner h1 {
        font-size: 4rem;
    }
}

.filter-container {
    padding: 5rem 0;
}

.filter-form {
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
    .filter-form {
        width: 70vw;
    }
}
@media screen and (min-width: 992px) {
    .filter-form {
        width: 95vw;
        max-width: 1170px;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 4rem;
}
.section-title h4 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: var(--primaryColor);
}

.news-list {
    padding: 0 0 5rem 0;
}

.news-list-center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
    .news-list-center {
        width: 90vw;
    }
}
@media screen and (min-width: 992px) {
    .news-list-center {
        width: 95vw;
        max-width: 1170px;
    }
}

.single-news-info {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
}

@media screen and (min-width: 992px) {
    .single-news-info {
        width: 95vw;
        max-width: 1170px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }
    .info {
        padding-left: 3rem;
    }
}

.desc,
.info {
    margin: 1rem 0;
}
.desc h3 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    font-size: larger;
}
.desc p {
    line-height: 1.5;
}

.info h3 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    font-size: x-large;
}

.info h6 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    font-weight: 300;
}
